@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro');

@tailwind base;
@tailwind components;
@tailwind utilities;

#app {
  font-family: 'Source Code Pro', monospace;
  height: 100%;
  margin: 0;
  width: 100%;
  scroll-behavior: smooth;
  overscroll-behavior-y: contain;
}
