/* replace with your own font if need be */
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro');

@tailwind base;
@tailwind components;
@tailwind utilities;

#app {
    font-family: 'Source Code Pro', monospace; /* update if importing a different font than the one above */
    font-size: 16px; /* update if needed (16px is the standard for modern browsers) */
    height: 100%;
    margin: 0;
    width: 100%;
    scroll-behavior: smooth;
}

@media (prefers-color-scheme: dark) {
    html, body {
        background-color: black;
    }
}
